@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: rgb(158, 24, 24);
}

/*! *********** ! Header Properties         **************  */

header {
    width: 100%;
    height: auto;
    background-image: url("guille-sanchez-9nxrdT2SMCg-unsplash\ \(1\).jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    /* min-height:100vh; Use below instead*/
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.logo p {
    margin: 0;
}

.container {
    margin: 0 auto;
    width:100%;
    max-width:1000px;


}

nav {
    display: flex;
    justify-content: space-between;
}

nav .logo {
    font-size: 2.5rem;
    text-align: center;

}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
}



nav li a {
    color: white;
    margin: 1rem;
    text-decoration: none;
}

.highlight {
    background-color: #0e5597;
    color: white;
    padding: 1rem;
    text-decoration: none;
}

.selected {
    font-weight: bold;
}


.mainSec {

    
    font-size: 2rem;
    text-align: center;


}

.mainSec h1 {
    color: #1195e2;

}

.mainSec button {   
    font-size: 1.5rem;
}

footer {
    height: 100px;
    background-color: black;
    color: white;
    /* padding: 1rem 0 1rem 0; */
    padding:1rem;


}

footer ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 1rem;
}

footer strong {
    color: #1195e2;
}

footer p {
    font-size: 1rem;
}



/*! Responsive Properties */

@media only screen and (max-width: 1000px) {}

/* @media screen and (max-width:800px)  {

    header {
        font-size: 0.85rem;
        align-items: center;
        width:100%;
        height:auto;
        display:flex;
        flex-direction:column;

        
        

    }
.logo{
    text-align: center;
}
   
    nav li:not(:last-child) {
        margin-bottom: 1rem;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
       
    }

    nav ul {
        /* flex-wrap: wrap; */

/* margin: 0 auto;
    }

   

    footer ul {
        justify-content: space-evenly;
    }

    .mainSec {
        font-size: 1.2rem;
        margin: 2rem auto 0
    }

    .mainSec button{
        font-size:1.5rem;
    }
    nav li a {
        /* text-align: center; */
/* }
}

/* 
@media screen and (max-width:500px){
.wholeContainer{
    width:100%;
    height:auto;
    color:rgb(211, 0, 35);
    background-size: cover;
    background-position: center center;
}
} */