@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: rgb(158, 24, 24);
}

/*! *********** ! Header Properties         **************  */

header {
    width: 100%;
    height: auto;
    padding: 1rem;
    background-image: url("guille-sanchez-9nxrdT2SMCg-unsplash\ \(1\).jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    /* min-height:100vh; Use below instead*/
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.logo p {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;


}

nav {
    display: flex;
    justify-content: space-between;
}

nav .logo {
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;

}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
}



nav li a {
    color: white;
    margin: 1rem;
    text-decoration: none;
}

.highlight {
    background-color: #0e5597;
    color: white;
    padding: 1rem;
    text-decoration: none;
}

.selected {
    font-weight: bold;
}


.mainSec {


    font-size: 1.8rem;
    text-align: center;


}

.mainSec h1 {
    color: #1195e2;

}

.mainSec button {
    font-size: 1.5rem;
}

footer {
    height: 100px;
    background-color: black;
    color: white;
    /* padding: 1rem 0 1rem 0; */
    padding: 1rem;


}

footer ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 1rem;
}

footer strong {
    color: #1195e2;
}

footer p {
    font-size: 1rem;
}



/*! Responsive Properties */

@media only screen and (max-width: 768px) {

    .container {
        width: 100%;
        max-width: 768px;
        display:flex;
        align-items: baseline;

    }

    header {
        justify-content: flex-start;
    }


    nav .logo {
        font-size: 2rem;
    }


    .mainSec {
        font-size: 1.5rem;

    }

    .highlight {
        padding: 0.7rem;
    }

    .mainSec button {
        font-size: 1.4rem;
    }
}


@media only screen and (max-width: 685px) {


    .mainSec button {
        font-size: 1.3rem;
    }

    .container {
        width: 100%;
        max-width: 685px;

    }

    nav .logo {
        font-size: 1.7rem;

    }
}

@media only screen and (max-width: 641px) {
   .WholeContainer{
       min-width:385px ;
       min-height:100vh+100px;
   }
   
    nav  {
        display: flex;
        flex-direction: column;
    }

    .navUL, .logo{
        margin:16px auto;
    }

    footer ul{
        flex-wrap: wrap;
    }
}